
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#171717" fill-opacity="1" d="M0,224L120,234.7C240,245,480,267,720,245.3C960,224,1200,160,1320,128L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
  </svg>
  
<footer class="text-center container-fluid pt-3 pb-0 mt-auto bottom-0 footer-bg">
    <div class="row">
      <div class="col-lg-5 pl-5-per" align="left">
        <h5 class="text-uppercase"><b class="footer-heading">Books Swap</b></h5>
        <p class="pr-3-per footertext">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sequi repellendus quam. Voluptatem explicabo, consectetur quaerat officiis et autem soluta?
        </p>
      </div>
      <div class="col-lg-3 pl-5-per" align="left">
        <h5 class="text-uppercase"><b class="footer-heading">Quick Links</b></h5>
        <ul class="list-unstyled ">
          <li class="footerlinks">
            <a href="#!"><i class="fa fa-award" aria-hidden="true"></i>About us</a>
          </li>
          <li class="footerlinks">
            <a href="#!"><i class="fa fa-lock" aria-hidden="true"></i> Privacy Policy</a>
          </li>
          <li class="footerlinks">
            <a href="#!"><i class="fa fa-info" aria-hidden="true"></i> Terms &amp; Conditions</a>
          </li>
          <li class="footerlinks">
            <a href="/contact"><i class="fa fa-phone" aria-hidden="true"></i> Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 pl-5-per" align="left">
        <h5 class="text-uppercase"><b class="footer-heading">Address</b></h5>
        <ul class="list-unstyled">
          <li class="footerlinks">
            <a href="#!"><i class="fa fa-home" aria-hidden="true"></i> Some place, New Delhi</a>
          </li>
          <li class="footerlinks">
            <a href="#!"><i class="fa fa-flag" aria-hidden="true"></i> India</a>
          </li>
          <li class="footerlinks">
            <a href="#!"><i class="fa fa-envelope" aria-hidden="true"></i> abcd16@gmail.com</a>
          </li>
          <li class="footerlinks">
            <a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> 1234567890</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row px-md-5 align-items-center footer-bg">
      <div class="col-md-12 mt-3">
        <div class="rounded-social-buttons">
            <a href="#!" class="social-button facebook"><i class="fab fa-facebook " aria-hidden="true"></i></a>
            <a href="#!" class="social-button instagram"><i class="fab fa-instagram " aria-hidden="true"></i></a>
            <a href="#!" class="social-button linkedin"><i class="fab fa-linkedin " aria-hidden="true"></i></a>
            <a href="#!" class="social-button youtube "><i class="fab fa-youtube " aria-hidden="true"></i></a>
            <a href="#!" class="social-button twitter"><i class="fab fa-twitter " aria-hidden="true"></i></a>
      </div>
      </div>
      <div class="col-md-12 mt-2">
        <ul class="list-unstyled list-inline"><li class="footertext">Copyright © <script>document.write(new Date().getFullYear())</script> All rights reserved.</li></ul><br>
      </div>
    </div>
  </footer>
