* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: auto;
}
nav {
  padding: 2%;
  height: 40px;
  background-color: #000;
}
nav ul {
  float: right;
  line-height: 50px;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  margin: 0 10px;
  padding: 10px 20px;
  color: #fefefe;
  font-size: 25px;
  transition: ease-in 0.5;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #222;
  color: rgb(252, 252, 144);
}

.title {
  float: left;
  font-size: 35px;
  line-height: 50px;
}
.title p {
  color: #fefefe;
}

.checkbtn {
  font-size: 30px;
  cursor: pointer;
  color: #fefefe;
  float: right;
  display: none;
  margin-right: 25px;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .title {
    margin-left: 15px;
  }

  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 30px 10px;
    line-height: 30px;
    padding: 15px;
  }
  nav ul li a {
    font-size: 26px;
    padding-bottom: 10px;
    color: #fefefe;
    border: none;
  }

  #check:checked ~ ul {
    left: 0%;
  }
}

/* landing page */
#landing {
  background-color: #000;
  height: 100vh;
}
.landing-page {
  text-align: left;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fefefe;
}

.right {
  padding: 4rem 0;
}
.right h1 {
  font-size: 3rem;
  padding: 1rem 0;
}

.right p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: 10px 0;
}
/* .btn {
  border: none;
  padding: 15px 30px;
  border: 2px solid white;
  border-radius: 30px;
  margin: 10px 0;
  background-color: #00c4cc;
  cursor: pointer;
} */

.left {
  margin: 0 19px;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;

  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn a {
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
}

.left img {
  max-width: 500px;
  height: 500px;
  border-radius: 50%;
}
@media (max-width: 1040px) {
  .landing-page {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 570px) {
  .landing-page {
    grid-template-columns: repeat(1, 1fr);
  }
  .left img {
    display: none;
  }
}

/* but sell page */

#buy-sec {
  background-color: #000;
  height: 100vh;
}
.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.my-btn {
  margin: 20px 0 0 0;
  margin: auto;
  padding: 3rem;
}

.my-btn button {
  width: 400px;
  height: 400px;
  margin: auto;
  font-size: 2rem;
}

.fa-bag-shopping,
.fa-upload {
  font-size: 4rem;
}

@media (max-width: 960px) {
  .my-btn button {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
  }
  .my-btn {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/* preview page */
#preview-page {
  background-color: #000;
  color: #fefefe;
  padding: 4rem;
  height: 100vh;
}

.back-btn {
  margin: auto;
  border: none;
  background-color: #3f86ed;
  padding: 5px 35px;
  border-radius: 25px;
}
.back-btn a {
  text-decoration: none;
  color: #222;
}
.main-heading {
  text-align: center;
  padding: 2rem;
}
.preview-img {
  width: 250px;
  height: 250px;
}
.preview-grid {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.preview-stat {
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.preview-stat p {
  background-color: #3f86ed;
  margin: 0 3px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
}

@media (max-width: 750px) {
  .main-heading {
    padding: 1rem;
  }
  .preview-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}
